.search-field{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}
.search-field .input-group {
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.search-field .form-control {
  border: none;
}

.search-field .form-control:focus {
  box-shadow: none;
  border: none;
}


